@media (min-width:1200px) {
  p {
    font-size: 18px;    
  }

  button {
   border: none;
  }

  #header {
    width: 100%;
    height: 20rem;
  
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  }

  #hamburger {
    display: none;
  }

  #nav {
    padding: 3em 10em;
  }

  #largeNav {
    display: flex;
    list-style-type: none;
  }

  #largeNav li {
    margin: 1em;
    color: white;
  }

  #largeNav li:hover {
    border-bottom: 1px solid white;
  }

  #navlist ul div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #main {
    padding: 0 22em;
    text-align: center;
    align-items: center;
    position: relative;
    top: -5em;
  }

  #buttons {
    padding: 0 2em;
  }

  #top {
   padding:3em;
  }

  #badge {
    position: unset;
    top: 0;
  }
  
  #badge img {
    position: absolute;
    top: -1em;
  }

  #stats {
    padding: 1em 3em;
  }

  #stats div:first-of-type {
    display: flex;
    justify-content: space-between;
  }

  #aboutContent {
    padding: 2em;
  }
  
  .quantity, .divHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .data:first-of-type {
    padding: 1em 0;
  }
  
  
  
  
  #large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bookMark {
    background-color: #e1e1e1;
    transition: all 200ms ease 50ms;
  }

  
  .bookMark span {
    color: grey;
    display: inline;
    font-weight: bold;
    padding: 1em;
    border-radius: inherit;
  }

  #back {
    margin: 13em 22em 60em 22em;
    padding: 3em;
  }

  .thanksGround {
    background-color: rgba(0, 0, 0, 0.377);
  }

  #thanks {
    margin: 10em 22em;
    margin-bottom: 100%;
    padding: 3em 2em;
  }

  #thanks span {
    display: block;
    font-size: 28px;
    font-weight: bold ;
  }

  .enterpledge {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .enterpledge .button {
    margin: 1em;
  }

  .pledgeText .pledge {
    margin: 0 1em;
  }

  .pledgeText .left {
    display: none;
  }

  .pledgeContent p {
    margin-left: 4em;
  }

  #back input[type=radio] {
    margin: 2em;
    margin-top: 1.2em;
  }

  .backGround {
    height: unset;
  }

.pledgeContent {
    display: flex;
    flex-direction: row;
  }

.pledgeText div:first-of-type div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}
}