@media screen and (min-width: 300px) {
   body {
     margin: 0;
   }
   
   header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}

#headImage img {
  width: 100%;
}

#headText {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;  
}

   nav {  
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 3rem 1rem 0rem 1rem;
   }

   .logo img {
     width: 75%;
   }

   .links span a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: 15px;
    cursor: pointer;
   }
   
   #openMenu {
     display: none;
   }

#openMenu:checked ~ .navLinks {
  display: block;
}

   .navLinks {
     position: absolute;
     width: 100%;
     height: 100%;
     text-align: left;
     background-color: black;
     text-transform: uppercase;
     top: 0;
     left: 0;
     display: none;
   }
  

.mobileNavHead {
  padding: 1.5rem;
  padding-top: 4rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   
  }

  .mobileNavHead .close{
    margin-left: auto;
  }


   .navLinks span {
     padding-top: 2rem;
     padding-left: 1.5rem;
     padding-right: 1.5rem;
     display: block;
   }

   .navLinks span a {
   background-image: linear-gradient(currentColor, currentColor);
   background-position: 1% 100%;
   background-repeat: no-repeat;
   background-size: 0% 4px;
   transition: background-size 0.3s;
}

.links span a:hover {
   background-size: 60% 4px;
}

.heading {
  font-weight: normal;
  letter-spacing: 0.5rem;
  color: white;
  border: 2px solid white;
  padding: 2rem;
  margin: 8.5rem 1rem 0 1rem;
  font-size: 27px;

}
  
   .main {
     padding-top: 9rem;
     margin: 0 1em 0 1em;
   }
   

   
   #introPhoto img {
     width: 100%;
   }

   #introText {
       text-align: center;
       margin: 2rem;
       margin-top: 5rem;
       margin-bottom: 7rem;
       
   }

   #introText p {
       line-height: 2rem;
       letter-spacing: 0.1rem;
       margin-top: 3rem;
       font-size: 15px;
   }

   .subHeading {
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.2rem;
}

.creations {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#moreCreations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position:relative;
    margin-bottom: 4em;
}
#moreCreations .button {
   display: none;
}

.button {
    padding: 0.4rem 2rem;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

.button:hover {
    background-color: #000;
    color: #fff;
}


#previews {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-left: 10em;
    padding-right: 10em;*/
}

#previews > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#previews div span {
    position: relative;
    margin-bottom: 1rem;
}

#previews div span img {
  width: 100%;
  cursor: pointer;
}


#previews div span p {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 23px;
    margin: 22px;
    width: 40%;
}

#previews span.button {
  margin-top: 2em;
}

footer {
  margin-top: 120px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 5rem 2rem 5rem 2rem;
}

.mainFooter {
  text-align: center;
}

.footerLinks, .copyrights {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.footerLinks > span {
  padding: 1em;
}

.footerLinks > span > a {
  text-decoration: none;
  color: inherit;
}

.social {
  text-align: center;
  margin-bottom: 1em;
}

.social img {
  margin: 0.5rem;
}

.copyrights p {
  font-size: 15px;
  opacity: 50%;
  margin: 0;
}

}

